{%- assign contact = include.contact -%}
<div class="bg-blue text-white col px-4 pt-6 pb-7 sp-4 align-center">
  <div class="maxwidth-7 width-full sp-3 row q-xl-col q-xl-sp-6">
    <h2 class="font-heading text-xl maxwidth-4">{{contact.title}}</h2>
    <div class="push hide-lg"></div>
    <div class="row sp-5 q-md-col q-md-align-center">
      {% asset {{contact.avatar_img}} class="rounded-full width-9 height-9" %}
      <div class="col sp-4">
        <div class="col">
          <div class="font-bold">{{contact.name}}</div>
          <div class="text-sm">{{contact.position}}</div>
        </div>
        <div class="col text-sm">
          <div>T
            {{contact.tel}}</div>
          <div>M
            {{contact.mobile}}</div>
          <a class="reset-link" href="mailto:{{contact.email}}">{{contact.email}}</a>
        </div>
        <a class="button is-white" href="mailto:{{contact.email}}">{{contact.cta_text}}</a>
      </div>
    </div>
  </div>
</div>
