<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      {% locale_link imprint %}{{ site.data.includes.footer[page.locale].imprint }}{% endlocale_link %}
      {% locale_link privacy %}{{ site.data.includes.footer[page.locale].privacy }}{% endlocale_link %}
      {% locale_link partners %}{{ site.data.includes.footer[page.locale].partners }}{% endlocale_link %}
    </div>

  </div>

</footer>