<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    {% locale_link home %}
      {{ site.title | escape }}
    {% endlocale_link %}

      <div class="trigger">
        {% locale_link about %}{{ site.data.includes.header[page.locale].about }}{% endlocale_link %}
        {% locale_link approach %}{{ site.data.includes.header[page.locale].approach }}{% endlocale_link %}
        {% locale_link services %}{{ site.data.includes.header[page.locale].services }}{% endlocale_link %}
        {% locale_link blog %}{{ site.data.includes.header[page.locale].blog }}{% endlocale_link %}
        {% locale_link jobs %}{{ site.data.includes.header[page.locale].jobs }}{% endlocale_link %}
        {% language_switcher %}
      </div>
    </nav>
  </div>
</header>
