@font-face {
  font-family: LetterGothic;
  font-display: swap;
  src: url("../fonts/LetterGothicTextWeb.eot"),
    url("../fonts/LetterGothicTextWeb.woff") format("woff");
}

@font-face {
  font-family: LetterGothic;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/LetterGothicTextWeb-Bold.eot"),
    url("../fonts/LetterGothicTextWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../fonts/roboto-latin-400.woff2") format("woff2"),
    url("../fonts/roboto-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: local("Roboto Regular italic"), local("Roboto-Regularitalic"),
    url("../fonts/roboto-latin-400italic.woff2") format("woff2"),
    url("../fonts/roboto-latin-400italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-weight: bold;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: bold;
  src: local("Roboto Medium italic"), local("Roboto-Mediumitalic"),
    url("../fonts/roboto-latin-500italic.woff2") format("woff2"),
    url("../fonts/roboto-latin-500italic.woff") format("woff");
}

html {
  box-sizing: border-box;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-size: 1em;
  height: 100%;
}

/*
This rule determines what '1rem' refers to. On screens smaller than 30em it's always 1em = 16px
as defined in the html tag above.
On larger screens it is calculated as follows:
1em = 16px (if user has default browser settings)
0.88em = 14.08px
0.4vw = 0.4 * window.width / 100
At a window size of 30em (aka 480px) this results in:
0.88em + 0.4vw = 14.08px + 480px * 0.004 = 14.08px + 1.92px = 16px
For larger screen sizes this results in 1rem being greater than 16px.
*/

@media screen and (min-width: 30em) {
  html {
    font-size: calc(0.88em + 0.4vw);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-property: none;
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
}

body {
  background-color: #fff;
  min-height: 100%;
  scroll-snap-type: y mandatory;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
