@import "tokens";

%raw-button {
  transition-property: background-color, color, box-shadow, border-color, opacity;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  width: auto;
  display: block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-family: LetterGothic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $font-size-xs;
  line-height: 1;
}

.button-text {
  @extend %raw-button;
  padding: 0.2rem;
  margin: -0.2rem;
  box-shadow: 0 0 0 0.2rem transparent;

  &:hover {
    background-color: $black-a05;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem $black-a10;
  }
}

.button {
  @extend %raw-button;
  padding: 0.75rem 1rem 0.55rem;

  color: $white;
  background-color: $blue;
  &:hover {
    background-color: $darkBlue;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem $blue-a25;
  }
}

.link {
  transition-property: color;
  text-decoration: none;
  color: $black;
  font-weight: bold;
  &:hover {
    color: $blue;
  }
}

.markdown {
  line-height: 1.6;
  word-break: break-word;

  p,
  pre {
    margin-bottom: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
    line-height: 1.2;
    font-family: LetterGothic;
  }

  h1 {
    font-size: $font-size-xl;
    margin-bottom: 3rem;
  }
  h2 {
    font-size: $font-size-lg;
  }
  h3 {
    font-size: $font-size-lg;
    font-weight: normal;
  }
  h4 {
    font-size: $font-size-md;
  }
  h5 {
    font-size: $font-size-md;
    font-weight: normal;
  }

  ul,
  ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  a:not(.button) {
    transition-property: color;
    color: $blue;
    &:hover {
      color: $darkBlue;
    }
  }
}
