{%- assign _ = site.data.pages.approach[page.locale] -%}

<div class="relative" data-active-snapping>
  <div class="relative height-screen sroll-snap-start col align-center justify-center py-7 px-4 sroll-snap-start overflow-hidden" data-after-approach-animate="+text-white">
    <div class="maxwidth-7 width-full col sp-2 pb-6 relative zindex-1">
      <div class="uppercase font-heading font-bold text-blue text-sm lead-line" data-after-approach-animate="-text-blue +text-white">{{_.intro_lead}}</div>
      <div class="markdown text-xl q-md-text-lg font-heading">{{_.intro_text | markdownify}}</div>
    </div>
    <div class="absolute non-interactive inset-full col">
      <div class="approach-circle is-small" id="approach-circle"></div>
    </div>
    <div class="absolute inset-x bottom-0 col align-center text-black pb-4 zindex-1">
      <a class="button-text" data-after-approach-animate="+is-white" href="#n1">
        <div class="col sp-3">
          <div>{{_.intro_cta_text}}</div>
          {% asset icons/icon-arrow-down.svg @inline %}
        </div>
      </a>
    </div>
  </div>

  <div class="relative">
    <div class="absolute inset-full col align-center non-interactive zindex-1">
      <div class="maxwidth-7 width-full sticky height-screen row align-center overflow-hidden">
          <div class="white-cover"></div>
        <div class="approach-image-container">
          {%- include approach-image.html -%}
        </div>
        <div class="absolute inset-x bottom-0 pb-4 col align-center">
          <a class="button-text is-blue" href="#projects" style="pointer-events: auto">
            <div class="row sp-3 align-center">
              {% asset icons/icon-arrow-right.svg @inline %}
              <div>{{_.projects_link_text}}</div>
            </div>
          </a>
        </div>
      </div>
    </div>


    {%- for screen in _.screens -%}
    <div class="sroll-snap-center col align-center px-4" data-visible-key="screen{{forloop.index}}"
      id="n{{forloop.index}}">
      <div class="maxwidth-7 width-full">
        <div class="approach-scroll-screen relative col">
          <div class="sticky height-screen col sp-4 pt-7 pb-7">
            {%- if screen.lead - %}
            <div class="uppercase font-heading font-bold text-blue text-xs lead-line">{{screen.lead}}</div>
            {%- endif- %}
            <div class="push show-md"></div>
            <h2 class="font-heading text-xl q-md-text-md">{{screen.title}}</h2>
            {%- if screen.text - %}
            <div class="q-md-text-xs maxwidth-2 approach-scroll-screen-text">{{screen.text}}</div>
            {%- endif- %}
          </div>
        </div>
      </div>
    </div>
    {%- endfor -%}

    <div class="absolute inset-y right-0 hide-md zindex-1">
      <div class="sticky height-screen col justify-center sp-3 pr-3">
        {%- for screen in _.screens -%}
        <a href="#n{{forloop.index}}" class="scroll-indicator" data-class-on-enter="screen{{{forloop.index}}:+is-active"
          data-class-on-leave="screen{{{forloop.index}}:-is-active">
        </a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<div id="projects" class="sroll-snap-start col align-center px-4 py-7">
  <div class="maxwidth-7 width-full col sp-6">
    <h2 class="font-heading text-xl maxwidth-4">{{_.projects_title}}</h2>
    {%- for project in _.projects -%}
      <div class="col sp-4">
        <div class="uppercase font-heading font-bold text-blue text-sm lead-line">{{project.lead}}</div>
        <div class="row sp-3 height-14 q-md-height-10">
          <div class="width-11 no-shrink relative q-md-width-1_3">
            {% asset {{project.img1}} class="absolute inset-full"%}
          </div>
          <div class="fill-parent relative">
            {% asset {{project.img2}} class="absolute inset-full"%}
          </div>
        </div>
        <div class="row sp-3 relative align-start q-md-col q-md-align-center">
          <div class="width-11 no-shrink sticky col sp-5 align-center pt-6 pb-5 q-md-relative q-md-py-2">
            {% asset {{project.circle_img}} class="width-full"%}
            <div class="col sp-2">
              {%- for type in site.data.pages.approach.task_types -%}
              {%- assign key = type[0] -%}
              {% if project.percentages[key] == 0 %}{% continue %}{% endif %}
                <div class="row sp-1 font-heading text-xs text-{{type[1]}}">
                  <div class="width-4 text-right">{{project.percentages[key]}}%</div>
                  <div>{{_[key]}}</div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="fill-parent relative col sp-5 pt-7 q-md-py-4">
            <h2 class="font-heading text-xl maxwidth-4">{{project.task}}</h2>

            <div class="col sp-4">
              <h4 class="font-heading text-xs uppercase">{{_.projects_goal_title}}</h4>
              <ul class="col sp-2 d-labs-list">
                {%- for el in project.goals -%}
                <li class="markdown">{{el | markdownify}}</li>
                {%- endfor -%}
              </ul>
            </div>

            <div class="col sp-4">
              <h4 class="font-heading text-xs uppercase">{{_.projects_approach_title}}</h4>
              <ul class="col sp-2 d-labs-list">
                {%- for el in project.approaches -%}
                <li class="markdown">{{el | markdownify}}</li>
                {%- endfor -%}
              </ul>
            </div>

            <div class="col sp-4">
              <h4 class="font-heading text-xs uppercase">{{_.projects_result_title}}</h4>
              <ul class="col sp-2 d-labs-list">
                {%- for el in project.results -%}
                <li class="markdown">{{el | markdownify}}</li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>
