{%- assign _ = site.data.pages.approach[page.locale] -%}

<div class="relative" data-scrollspy>
  <div class="relative height-screen col align-center justify-center py-7 px-4 overflow-hidden relative zindex-1">
    <div class="maxwidth-7 width-full col sp-4 pb-6 relative zindex-1">
      <div class="uppercase font-heading font-bold text-blue text-sm lead-line" >{{_.intro_lead}}</div>
      <div class="markdown text-xxl q-md-text-xl font-heading">{{_.intro_text | markdownify}}</div>
    </div>
    <div class="absolute non-interactive inset-full col">
      <div class="approach-circle is-small" id="approach-circle"></div>
    </div>
    <div class="absolute inset-x bottom-0 col align-center text-black pb-4 zindex-1">
      <div class="col sp-3 align-center">
        <a class="button-text" href="#n1">
          {{_.intro_cta_text}}
        </a>
        <a class="button-text" href="#n1">
          {% asset icons/icon-arrow-down.svg @inline %}
        </a>
      </div>
    </div>
  </div>

  <div class="relative" style="padding-bottom:40vh">
    <div class="absolute inset-full col align-center non-interactive zindex-1">
      <div class="maxwidth-8 width-full sticky height-screen row align-center overflow-hidden q-md-align-end q-md-pb-7">
        {%- include approach-image.html -%}
        <div class="absolute inset-x bottom-0 pb-4 col align-center q-md-pb-2">
          <div class="col sp-3 align-center interactive">
            <a class="button-text" href="#projects">
              {{_.projects_link_text}}
            </a>
            <a class="button-text" href="#projects">
              {% asset icons/icon-arrow-down.svg @inline %}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-full col align-center relative zindex-1 non-interactive">
      <div class="maxwidth-7 width-full sticky q-md-px-4 pt-8 height-screen">
        <div class="uppercase font-heading font-bold text-blue text-xs lead-line sticky">{{_.slider_lead}}</div>
      </div>
    </div>

    {%- for screen in _.screens -%}
    <div class="height-13 q-md-height-12" id="n{{forloop.index}}">
    </div>
    {%- endfor -%}

    {%- for screen in _.screens -%}
    <div
      class="absolute inset-full"
      style="opacity: 0"
      data-style-keyframes="
        0:opacity=0
        {{forloop.index | times: 0.1 | plus: 0.05 }}:opacity=1
        {{forloop.index  | times: 0.1 | plus: 0.15}}:opacity=0
      "
    >
      <div class="sticky height-screen col px-4 align-center">
        <div class="maxwidth-7 width-full">
            <div class="approach-scroll-screen relative col sp-4 pt-8 pb-7">
              <h2 class="font-heading text-xl q-md-text-md pt-5">{{screen.title}}</h2>
              {%- if screen.text - %}
              <div class="q-md-text-xs maxwidth-2 approach-scroll-screen-text">{{screen.text}}</div>
              {%- endif- %}
            </div>
          </div>
      </div>
    </div>
    {%- endfor -%}

    <div class="absolute inset-y right-0 hide-md zindex-1">
      <div class="sticky height-screen col justify-center sp-3 pr-3">
        {%- for screen in _.screens -%}
        <a
          href="#n{{forloop.index}}"
          class="scroll-indicator"
          data-class-on-range="{{forloop.index | times: 0.133}}-{{forloop.index  | times: 0.133 | plus: 0.133}}:is-active">
        </a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<div id="projects" class="col align-center px-4 pt-8 pb-7">
  <div class="maxwidth-7 width-full col sp-6">
    <h2 class="font-heading text-xl maxwidth-4">{{_.projects_title}}</h2>
    <div class="col sp-8">
    {%- for project in _.projects -%}
      <div class="col" id="project{{forloop.index}}">
        <div class="pb-4">
          <div class="uppercase font-heading font-bold text-blue text-sm lead-line">{{project.lead}}</div>
        </div>
        <div class="row sp-3 height-14 q-md-height-10">
          <div class="width-11 no-shrink relative q-md-width-1_3">
            {% asset {{project.img1}} class="absolute inset-full"%}
          </div>
          <div class="fill-parent relative">
            {% asset {{project.img2}} class="absolute inset-full"%}
          </div>
        </div>
        <div class="row sp-3 relative align-start q-md-col q-md-align-center">
          <div class="width-11 no-shrink sticky col sp-5 align-center pt-7 pb-5 q-md-relative q-md-py-2">
            {% asset {{project.circle_img}} class="width-full"%}
            <div class="col sp-2">
              {%- for type in site.data.pages.approach.task_types -%}
              {%- assign key = type[0] -%}
              {% if project.percentages[key] == 0 %}{% continue %}{% endif %}
                <div class="row sp-1 font-heading text-xs text-{{type[1]}}">
                  <div class="width-4 text-right">{{project.percentages[key]}}%</div>
                  <div>{{_[key]}}</div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="fill-parent relative col sp-5 pt-7 q-md-py-4">
            <h2 class="font-heading text-xl maxwidth-4">{{project.task}}</h2>

            <div class="col sp-4">
              <h4 class="font-heading text-xs uppercase">{{_.projects_goal_title}}</h4>
              <ul class="col sp-2 d-labs-list">
                {%- for el in project.goals -%}
                <li class="markdown">{{el | markdownify}}</li>
                {%- endfor -%}
              </ul>
            </div>

            <div class="col sp-4">
              <h4 class="font-heading text-xs uppercase">{{_.projects_approach_title}}</h4>
              <ul class="col sp-2 d-labs-list">
                {%- for el in project.approaches -%}
                <li class="markdown">{{el | markdownify}}</li>
                {%- endfor -%}
              </ul>
            </div>

            <div class="col sp-4">
              <h4 class="font-heading text-xs uppercase">{{_.projects_result_title}}</h4>
              <ul class="col sp-2 d-labs-list">
                {%- for el in project.results -%}
                <li class="markdown">{{el | markdownify}}</li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
    </div>
  </div>
</div>

{%- include contact.html contact=_.contact-%}
