{%- assign _ = site.data.pages.home[page.locale] -%}
<div class="relative">
  <div class="height-screen sroll-snap-start text-white relative zindex-2 col justify-center align-center px-4 py-5" data-visible-key="screen0">
    <div class="font-heading text-xxxl q-md-text-xl maxwidth-7 width-full relative zindex-3">{{_.hero_claim}}</div>
    <svg viewbox="0 0 100 100" class="absolute inset-full text-blue fill-current" preserveAspectRatio="none">
      <polygon points="0 0,100 0,100 70,0 100" class="hide-md"/>
      <polygon points="0 0,100 0,100 80,0 100" class="show-md"/>
    </svg>
    <div class="absolute inset-x bottom-0 col align-center text-black pb-4">
      <a href="#n1" class="fill-current button-text">{% asset icons/icon-arrow-down.svg class="height-4" %}</a>
    </div>
  </div>
  <div class="absolute inset-full col align-center">
    <div class="maxwidth-7 width-full sticky height-screen row align-center q-md-align-start py-5 q-md-justify-center zindex-1">
      <div class="home-circle-container">
        {%- include home-circles.html -%}
      </div>
    </div>
  </div>
  {%- for screen in _.screens -%}
    <div class="sroll-snap-center col align-center px-4" data-visible-key="screen{{forloop.index}}" id="n{{forloop.index}}">
      <div class="maxwidth-7 width-full">
        <div class="home-scroll-screen relative">
          <div
            class="sticky height-screen col justify-center sp-4 maxwidth-4 q-md-justify-end py-5"
            data-init-class="opacity-0"
            data-class-on-enter="screen{{{forloop.index}}:-opacity-0"
            data-class-on-leave="screen{{{forloop.index}}:+opacity-0"
          >
            <h2 class="font-heading text-xl q-md-text-md">{{screen.title}}</h2>
            {%- if screen.text - %}
            <div class="q-md-text-xs">{{screen.text}}</div>
            {%- endif- %}
            <div class="col align-start">
              <a class="button" href="{{screen.cta_target}}">{{screen.cta}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endfor -%}
<div class="b1"></div>
