{%- assign _ = site.data.pages.home[page.locale] -%}

<div class="relative" data-scrollspy>
  <div class="height-screen text-white relative zindex-2 col justify-center align-center px-4 py-5">
    <div class="font-heading text-xxxl q-md-text-xl maxwidth-7 width-full relative zindex-3">{{_.hero_claim}}</div>
    <svg viewbox="0 0 100 100" class="absolute inset-full text-blue fill-current non-interactive" preserveAspectRatio="none">
      <polygon points="0 0,100 0,100 70,0 100" class="hide-md" />
      <polygon points="0 0,100 0,100 80,0 100" class="show-md" />
    </svg>
    <div class="absolute inset-x bottom-0 col align-center text-black pb-4">
      <a href="#n1" class="button-text">{% asset icons/icon-arrow-down.svg @inline %}</a>
    </div>
  </div>
  <div class="absolute inset-full col align-center non-interactive md-py-7">
    <div class="height-screen width-full sticky zindex-1 col justify-center home-circle-outer q-md-justify-start q-md-pt-5">
      <div class="home-circle-container">
        {%- include home-circles.html -%}
      </div>
    </div>
  </div>
  <div class="relative">
    {%- for screen in _.screens -%}
    <div class="height-15" id="n{{forloop.index}}">
    </div>
    <div class="absolute inset-x bottom-0 col align-center text-black pb-4 zindex-1">
      <a href="#clients" class="button-text">{% asset icons/icon-arrow-down.svg @inline %}</a>
    </div>
    {%- endfor -%}
    {%- for screen in _.screens -%}
    <div
      class="absolute inset-full"
      style="opacity: 0"
      data-style-keyframes="
        0:opacity=0,translateY=-10
        {{forloop.index | times: 0.2}}:opacity=1,translateY=0
        {{forloop.index  | times: 0.2 | plus: 0.2}}:opacity=0,translateY=10
      "
    >
      <div class="sticky height-screen col px-4 align-center justify-center">
        <div class="maxwidth-7 width-full">
          <div
            class="home-scroll-screen-content col align-end justify-center sp-4 maxwidth-4 q-md-justify-end py-5">
            <h2 class="font-heading text-xl q-md-text-md">{{screen.title}}</h2>
            {%- if screen.text - %}
            <div class="q-md-text-xs">{{screen.text}}</div>
            {%- endif- %}
            <div class="col align-start">
              <a class="button-ghost" href="{{screen.cta_target}}">{{screen.cta}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <div class="absolute inset-y right-0 hide-md">
      <div class="sticky col justify-center sp-3 pr-3" style="height: 60vh;top:20vh">
        {%- for screen in _.screens -%}
        <a
          href="#n{{forloop.index}}"
          class="scroll-indicator"
          data-class-on-range="{{forloop.index | times: 0.2}}-{{forloop.index  | times: 0.2 | plus: 0.2}}:is-active">
        </a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<div class="bg-white col align-center px-4 py-5 pt-8 relative zindex-1" id="clients">
  <div class="maxwidth-7 width-full col sp-5">
    <h2 class="font-heading font-bold text-xl">{{_.clients_heading}}</h2>
    <div class="col">
      <div class="row wrappable">
        {%- for client in site.data.pages.home.first_clients -%}
        <div class="row justify-center align-center width-1_4 px-4 py-3 q-lg-width-1_2">
          {% asset {{client.logo}} alt={{client.name}} title={{client.name}} class="full-width maxheight-6" %}
        </div>
        {%- endfor -%}
      </div>
      <div class="hidden" id="more-clients">
        <div class="row wrappable">
          {%- for client in site.data.pages.home.rest_clients -%}
          <div class="row justify-center align-center width-1_4 px-4 py-3 q-lg-width-1_2">
            {% asset {{client.logo}} alt={{client.name}} title={{client.name}} class="full-width maxheight-6" %}
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    <div class="col align-center">
      <button class="button-text is-blue" data-toggle="#more-clients" data-toggle-style="slide">
        <div class="row align-center sp-3">
          {% asset icons/icon-arrow-down.svg @inline %}
          <div>{{_.clients_show_more}}</div>
        </div>
        <div class="row align-center sp-3 hidden">
          {% asset icons/icon-arrow-up.svg @inline %}
          <div>{{_.clients_show_less}}</div>
        </div>
      </button>
    </div>
  </div>
</div>

{%- assign latest_post = site.pages | where: "kind", "blogPost" | where: "locale", page.locale | first -%}
<div class="bg-blue col align-center text-white pl-4 q-md-px-0 relative zindex-1">
  <div class="maxwidth-7 width-full col sp-5">
    <div class="row sp-8 q-md-col q-md-sp-0">
      <div class="row pt-6 pb-7 sp-6 align-start q-xl-col q-xl-sp-0 q-md-px-4">
        <div class="uppercase font-heading font-bold text-sm lead-line">Blog</div>
        <div class="col sp-5 pt-5">
          <div class="col sp-3">
            <a href="{{latest_post.url}}" class="reset-link">
              <h3 class="font-heading text-xl">{{latest_post.title}}</h3>
            </a>
            <div class="markdown">
              {{ latest_post.description | markdownify }}
            </div>
          </div>
          <div class="col align-start">
            <a class="button-ghost is-white" href="{{latest_post.url}}">{{_.blog_cta_text}}</a>
          </div>
        </div>
      </div>
      {% if latest_post.hero_image %}
      <div class="width-11 relative no-shrink minheight-10 q-md-width-full q-md-is-first">
        <img src="{{latest_post.hero_image.url}}?w={{400 | times: 3 | divided_by: 4}}&h=400&fit=fill&f=faces"
          alt="{{latest_post.hero_image.description}}" class="absolute inset-full" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="bg-white row q-md-col relative zindex-1">
  <div class="width-1_2 relative minheight-9 q-md-width-full">
    {% asset {{_.jobs_image}} class="absolute inset-full"%}
  </div>
  <div class="width-1_2 q-md-width-full">
    <div class="py-8 pl-6 pr-4 maxwidth-10 col sp-3">
      <div class="uppercase font-heading font-bold text-blue text-sm lead-line">{{_.jobs_lead}}</div>
      <h2 class="font-heading font-bold text-xl">{{_.jobs_title}}</h2>
      <div class="col align-start sp-5">
        <div>{{_.jobs_desc}}</div>
        {% locale_link jobs class:"button-ghost is-blue" %}
          {{_.jobs_cta_text}}
        {% endlocale_link %}
        </div>
      </div>
    </div>
  </div>
</div>

{%- include locations.html is_white=true with_map=true -%}
