@import "tokens";

.approach-circle {
  margin: auto;
  width: 20vmax;
  height: 20vmax;
  border-radius: 50%;
  border: 15px solid $blue;
  transform: translate3d(0, 33%, 0) scale(0.1);

  transition: transform 0.75s ease-out;

  &.is-big {
    border-width: 2px;
    transform: translate3d(0, 33%, 0) scale(10);
  }
}
.approach-curtain {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 5rem,
    rgba(255, 255, 255, 0) 6rem,
    rgba(255, 255, 255, 0) 55%,
    rgba(255, 255, 255, 1) 65%
  );
}

.approach-scroll-screen {
  min-height: 60vh;
}

.approach-scroll-screen-text {
  @media #{$query-md} {
    max-width: 25rem;
  }
}

.approach-project-image_source {
  font-size: calc(0.45em + 0.4vw);
}
