@import "tokens";

.approach-circle {
  margin: auto;
  width: 50vmax;
  height: 50vmax;
  background-color: $blue;
  border-radius: 50%;

  transform: translate3d(0, 15%, 0) scale(0.04);
  transition: transform 0.5s ease-out;

  &.is-big {
    transform: translate3d(0, 15%, 0) scale(4);
  }
}
.approach-curtain {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 5rem, rgba(255, 255, 255, 0) 6rem, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 1) 65%);
}

.approach-scroll-screen {
  min-height: 60vh;
}

.approach-scroll-screen-text {
  @media #{$query-md} {
    max-width: 25rem;
  }
}

