@import "tokens";

%raw-button {
  transition-property: background-color, color, box-shadow, border-color, opacity;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  width: auto;
  display: block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

.button-transparent {
  @extend %raw-button;
  padding: 0.2rem;
  margin: -0.2rem;
  box-shadow: 0 0 0 0.2rem transparent;
  text-align: inherit;
  color: $black;
  &:hover {
    color: $blue;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem $black-a10;
  }
}

%button-with-text {
  font-weight: bold;
  font-family: LetterGothic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $font-size-xs;
  line-height: 1;
}

.button-text {
  @extend .button-transparent;
  @extend %button-with-text;

  &.is-blue {
    color: $blue;
    &:hover {
      color: $black;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem $blue-a10;
    }
  }

  &.is-white {
    color: $white;
    &:hover {
      color: $black;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem $white-a25;
    }
  }
}

.button {
  @extend %raw-button;
  @extend %button-with-text;
  padding: 1rem 1rem 0.85rem;

  color: $white;
  background-color: $blue;
  border: 2px solid $blue;
  &:hover {
    background-color: $white;
    color: $blue;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem $blue-a25;
  }

  &.is-white {
    color: $blue;
    background-color: $white;
    border-color: $white;
    &:hover {
      color: $black;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem $white-a25;
    }
  }

  &.is-black {
    background-color: $black;
    border-color: $black;
    &:hover {
      background-color: $white;
      color: $black;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem $white-a25;
    }
  }
}

.button-ghost {
  @extend %raw-button;
  @extend %button-with-text;
  padding: 1rem 1rem 0.85rem;
  border: 2px solid $black;

  color: $black;
  background-color: transparent;
  &:hover {
    background-color: $black;
    color: $white;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem $black-a25;
  }

  &.is-white {
    color: $white;
    border-color: $white;
    &:hover {
      background-color: $white;
      color: $blue;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem $white-a25;
    }
  }

  &.is-mini {
    padding: 0.25rem 0.25rem 0.15rem;
    border-color: $gray200;
  }
}

.input {
  border: none;
  background: none;
  font-family: inherit;
  font-size: $font-size-xs;

  border-bottom: 2px solid $black;
  padding: 0.6rem 0 0.5rem;

  &:focus {
    outline: none;
  }
}

.link {
  transition-property: color;
  text-decoration: none;
  color: $black;
  font-weight: bold;
  &:hover {
    color: $blue;
  }
}

.link-light {
  transition-property: color;
  color: $white;
  &:hover {
    color: $white-a90;
  }
}

.link-blue {
  transition-property: color;
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $darkBlue;
  }
}

.markdown {
  &:not(.font-heading) {line-height: 1.6;}
  word-break: break-word;

  p:not(:last-child),
  pre:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    line-height: 1.2;
    font-family: LetterGothic;
  }

  h1 {
    font-size: $font-size-xl;
    margin-bottom: 3rem;
  }
  h2 {
    font-size: $font-size-lg;
  }
  h3 {
    font-size: $font-size-lg;
    font-weight: normal;
  }
  h4 {
    font-size: $font-size-md;
  }
  h5 {
    font-size: $font-size-md;
    font-weight: normal;
  }

  ul,
  ol {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    padding-left: 2rem;
  }

  a:not(.button) {
    transition-property: color;
    color: $blue;
    &:hover {
      color: $darkBlue;
    }
  }
}

.scroll-indicator {
  @extend %raw-button;
  border-radius: 50%;
  width: 0.33rem;
  height: 0.33rem;
  background-color: $gray200;
  transition-property: background-color;

  &:hover {
    background-color: $gray300;
  }

  &.is-active {
    background-color: $blue;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem $blue-a25;
  }
}

.lead-line {
  margin-left: 6em;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 100%;
    margin-right: 1em;
    left: -6em;
    border-bottom: 1px solid;
    top: 40%;
  }
}

.d-labs-list {
  list-style: none;
  padding-left: 1.5em;
  > li {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -1.5em;
      top: 0.4em;
      background-image: asset_url("list-bullet.svg");
      width: #{(12 / 24)}em;
      height: #{(14 / 24)}em;
      background-repeat: no-repeat;
    }
  }
}

.service-circle {
  flex: none;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  border: 0.2em solid;
}

.reset-link {
  color: inherit;
  text-decoration: none;
}

.pill {
  border: 1px solid $gray300;
  border-radius: 0.2em;
  padding: 0.3em 0.75em 0.15em;
  text-decoration: none;
  color: inherit;
  &:hover {
    background-color: $black-a05;
  }
}

@media #{$query-gt-lg} {
  .flex-footer-space {
    flex-basis: 12em;
  }
}

.list-entry {
  border-bottom: solid 1px $blue;
}
