@font-face {
  font-family: LetterGothic;
  font-display: block;
  src: asset_url("LetterGothicTextWeb.eot"), asset_url("LetterGothicTextWeb.woff") format("woff");
}

@font-face {
  font-family: LetterGothic;
  font-weight: bold;
  font-display: block;
  src: asset_url("LetterGothicTextWeb-Bold.eot"),
    asset_url("LetterGothicTextWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    asset_url("roboto-latin-400.woff2") format("woff2"),
    asset_url("roboto-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: local("Roboto Regular italic"), local("Roboto-Regularitalic"),
    asset_url("roboto-latin-400italic.woff2") format("woff2"),
    asset_url("roboto-latin-400italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-weight: bold;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    asset_url("roboto-latin-500.woff2") format("woff2"),
    asset_url("roboto-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: bold;
  src: local("Roboto Medium italic"), local("Roboto-Mediumitalic"),
    asset_url("roboto-latin-500italic.woff2") format("woff2"),
    asset_url("roboto-latin-500italic.woff") format("woff");
}
