@import "tokens";

.main-header {
  z-index: 10;
  transition-property: padding, box-shadow;

  &.is-scrolled {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-shadow: $shadow-md;
  }
}

.header-logo {
  transition-property: filter;
}

.header-link {
  font-size: $font-size-xs;
  padding-top: 2px;
  border-bottom: 2px solid transparent;

  &.is-active {
    border-bottom: 2px solid $blue;
  }

  &.within-overlay {
    font-size: $font-size-md;
  }
}

.lang-switcher-link {
  transition-property: color;
  text-decoration: none;
  color: $blue;
  font-weight: bold;
  font-size: $font-size-xxs;
  text-transform: uppercase;
  &:hover {
    color: $darkBlue;
  }
}

body.with-blue-header {
  .main-header {
    background-color: $blue;
    .header-link,
    .lang-switcher-link {
      color: $white;
      :hover {
        color: $white;
      }
    }
  }
  .header-logo,
  .header-menu-button {
    filter: grayscale(1) brightness(100);
  }
}
