@import "tokens";

.main-header {
  z-index: 10;
  transition-property: padding, box-shadow;
}

.header-logo,
.header-menu-button {
  filter: grayscale(0) brightness(1);
  transition-property: filter;
}

.header-link {
  font-size: $font-size-xs;
  padding-top: 2px;
  border-bottom: 2px solid transparent;

  &.is-active {
    border-bottom: 2px solid $blue;
  }

  &.within-overlay {
    font-size: $font-size-md;
  }

  &.is-badge {
    transition-property: all;
  }

  body:not(.with-blue-header) &,
  .main-header.is-scrolled-a-page & {
    &.is-badge {
      &::before {
        content: "";
        position: absolute;
        top: -1.15rem;
        left: -0.9rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: $blue;
        border-radius: 50%;
        z-index: -1;
        transition-property: background-color;
      }
      position: relative;
      color: $white;
      text-transform: uppercase;
      font-weight: normal;
      transform: rotate(15deg);
      font-size: $font-size-xxs;
    }

    &:hover {
      &::before {
        background-color: $darkBlue;
      }
    }
  }
}

.lang-switcher-link {
  transition-property: color;
  text-decoration: none;
  color: $blue;
  font-weight: bold;
  font-size: $font-size-xxs;
  text-transform: uppercase;
  &:hover {
    color: $darkBlue;
  }
}

body.with-blue-header {
  .main-header:not(.is-scrolled-a-page) {
    background-color: $blue;
    .header-link,
    .lang-switcher-link {
      color: $white;
      :hover {
        color: $white;
      }
    }
    .header-logo {
      filter: grayscale(1) brightness(2);
    }
    .header-menu-button {
      filter: grayscale(1) brightness(10);
    }
  }
}
