@import "tokens";

.service-carousel-indicator {
  .service-carousel-hidable-text {
    transition-property: opacity;
    opacity: 0
  }

  .service-circle {
    transition-property: width, height, transform;
    transform: translate3d(0,0,0)
  }

  &:not(.is-active) {
    .service-circle {
      width: 0;
      height: 0;
      transform: translate3d(0.4em, 0.4em, 0)
    }
  }

  &.is-active {
    .service-carousel-hidable-text {
      opacity: 1
    }
  }
}
