---
layout: default
---

{%- assign _ = site.data.pages.jobs[page.locale] -%}

<div class="relative height-screen col q-lg-col q-lg-pt-7 justify-center q-lg-justify-stretch">
  <div class="row q-lg-col q-lg-sp-4 q-lg-fill-parent">
    <div class="relative minheight-13 q-lg-height-aspect-16-9 left-wide-img">
      <img src="{{page.hero_image.url}}?w=800" alt="{{page.hero_image.description}}" alt="{{page.hero_image.description}}" class="absolute inset-full" />
    </div>
    <div class="q-lg-width-full col fill-parent">
      <div class="width-full sp-4 pl-6 col fill-parent maxwidth-4 q-lg-maxwidth-6 q-lg-px-4">
        {% locale_link jobs class:"button-text" hash:"list"%}
          ← {{_.back_button_label}}
        {% endlocale_link %}
        <div class="push"></div>
        <div class="col sp-3">
          <h1 class="font-heading text-xxl q-md-text-xl">{{page.title | markdownify}}</h1>
          <h2 class="font-heading text-xl q-md-text-l">{{page.location | markdownify}}</h2>
          <div class="markdown text-sm">{{page.first_paragraph | markdownify}}</div>
        </div>
        <div class="row justify-end pr-6 hide-lg overflow-visible">
          <a href="{{_.team_fit_url}}" class="button-circle is-black">
            {{_.circle_apply_now_button_label}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute inset-x-1_3 bottom-0 col align-center pb-5 hide-lg ">
    <a class="button-text is-blue hide-lg" href="#next">
    <div class="col sp-3 align-center hide-lg">
      <a class="button-text" href="#next">
        {{_.learn_more}}
      </a>
      <a class="button-text" href="#next">
        {% asset icons/icon-arrow-down.svg @inline %}
      </a>
    </div>
  </div>
</div>

<div id="next" class="col align-center px-4 py-7">
  <div class="maxwidth-7 width-full">
    <div class="uppercase font-heading font-bold text-blue text-sm lead-line">{{_.you_are_missing}}</div>
  </div>
  <div class="width-1_3 q-lg-width-full col pt-7">
    <div class="col sp-4">
      <h4 class="uppercase font-heading text-sm">{{_.profile_heading}}</h4>
      <div class="markdown text-sm">{{page.profile | markdownify}}</div>
    </div>
    <div class="col sp-4 pt-7">
      <h4 class="uppercase font-heading text-sm">{{_.tasks_heading}}</h4>
      <div class="markdown text-sm">{{page.tasks | markdownify}}</div>
    </div>
  </div>
</div>

<div class="col align-center px-4 py-7 bg-blue">
  <div class="maxwidth-3 width-full align-center col sp-5">
    <h3 class="font-heading text-xl q-md-text-lg text-white text-center">{{_.apply_now_heading}}</h3>
    <div class="markdown text-sm text-white text-center">{{_.apply_now_description | markdownify}}</div>
    <a href="{{_.apply_now_url}}" class="button is-black is-wide">{{_.apply_now_button_label}}</a>
  </div>
</div>

<div class="col align-center px-4 py-7">
  <div class="maxwidth-4 width-full col sp-6 align-center">
    <div class="markdown font-medium">{{page.third_paragraph | markdownify}}</div>
    <a class="button-text is-blue" href="{{page.job_posting.url}}" target="_blank">
      <div class="row sp-2 align-center">
        {% asset icons/icon-download.svg @inline %}
        <div>{{_.download_button_label}}</div>
      </div>
    </a>
  </div>
</div>

{%- include contact.html contact=_.contact is_white=true no_button=true-%}
{%- include locations.html is_white=true with_map=true -%}
