---
layout: default
---

{%- assign _ = site.data.pages.jobs[page.locale] -%}

{% capture google_job_description %}

  <h1 class='font-heading text-xxl q-md-text-xl'>{{page.first_headline | markdownify}}</h1>
  <div class='markdown text-sm'>{{page.first_paragraph | markdownify}}</div>
  <br>
  {%- include jobs-description.html  -%}

{% endcapture %}

<script type="application/ld+json">
{
  "@context" : "https://schema.org/",
  "@type" : "JobPosting",
  "title" : "{{page.title}}",
  "description" : "{{ google_job_description | strip_newlines | replace: '"', "'" }}",
  "identifier": {
    "@type": "PropertyValue",
    "name": "D-LABS",
    "value": "1234567"
  },
  "datePosted" : "2021-01-11T00:00:00",
  "validThrough" : "2021-06-30T00:00:00",
  "hiringOrganization" : {
    "@type": "Organization",
    "name": "D-LABS GmbH",
    "sameAs": "http://www.d-labs.com",
    "logo": "https://www.d-labs.com/assets/images/icon_d-labs.svg"
  },
  "jobLocation": [{
    "@type": "Place",
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "Matkowskystraße 2",
      "addressLocality": "Berlin",
      "addressRegion": "Berlin",
      "postalCode": "10245",
      "addressCountry": "DE"
      }
    },{
    "@type": "Place",
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "Marlene-Dietrich-Allee 15",
      "addressLocality": "Potsdam",
      "addressRegion": "Brandenburg",
      "postalCode": "14482",
      "addressCountry": "DE"
      }
  }],
  "directApply": true,
  "employmentType": ["FULL_TIME", "PART_TIME"]
}
</script>

<div class="relative height-screen col q-lg-col q-lg-pt-7 justify-center q-lg-justify-stretch">
  <div class="row q-lg-col q-lg-sp-4 q-lg-fill-parent">
    <div class="relative minheight-13 q-lg-height-aspect-16-9 left-wide-img">
      <img src="{{page.hero_image.url}}?w=800" alt="{{page.hero_image.description}}" alt="{{page.hero_image.description}}" class="absolute inset-full" />
    </div>
    <div class="q-lg-width-full col fill-parent">
      <div class="width-full sp-4 pl-6 col fill-parent maxwidth-4 q-lg-maxwidth-6 q-lg-px-4">
        {% locale_link jobs class:"button-text" hash:"list"%}
          ← {{_.back_button_label}}
        {% endlocale_link %}
        <div class="push"></div>
        <div class="col sp-3">
          <div class="uppercase font-heading font-bold text-blue text-sm lead-line">{{page.title}} – {{page.location}}</div>
          <h1 class="font-heading text-xxl q-md-text-xl">{{page.first_headline | markdownify}}</h1>
          <div class="markdown text-sm">{{page.first_paragraph | markdownify}}</div>
        </div>
        <div class="push"></div>
      </div>
    </div>
  </div>
  <div class="absolute inset-x bottom-0 col align-center pb-5 hide-lg">
    <a class="button-text is-blue hide-lg" href="#next">
    <div class="col sp-3 align-center hide-lg">
      <a class="button-text" href="#next">
        {{_.learn_more}}
      </a>
      <a class="button-text" href="#next">
        {% asset icons/icon-arrow-down.svg @inline %}
      </a>
    </div>
  </div>
</div>

<div id="next" class="col align-center px-4 py-7 pt-8 q-lg-pt-2">
  <div class="maxwidth-4 width-full col sp-4 pt-6 q-lg-pt-0">
    <h2 class="font-heading text-xxl q-md-text-xl">Was erwartet Dich bei uns?</h2>
    <div class="markdown text-sm">Less but better – diese inspirierenden Worte von Dieter Rams findest du bei uns nicht nur in einem unserer vielen schönen Arbeitsräume, sondern auch in der Haltung des Designteams bei D-LABS. Dabei geht es uns um die Konzentration auf das Wesentliche eines Produkts, das Erforschen des eigentlichen Kerns einer gestalterischen Herausforderung und die zielführende Umsetzung der besten Lösung für jeden unserer vielseitigen Kunden. Dabei legen wir viel Wert auf die ausgewogene Balance zwischen viel Handlungs- und Gestaltungsspielraum jedes einzelnen Kreativen und den regen Austausch im gesamten Team.</div>
  </div>
</div>

<div class="col align-center px-4 py-7">
{%- include jobs-description.html  -%}
</div>

<div class="col align-center px-4 py-7">
  <div class="maxwidth-7 width-full row wrappable">
    {%- for benefit in _.benefits -%}
    <div class="col align-center px-2 sp-2 pb-4" style="flex: 5rem 1 1">
      {% asset {{benefit.img}} alt="" class="height-6" %}
      <div class="text-blue text-sm font-bold text-center">{{benefit.label}}</div>
    </div>
    {%- endfor -%}
  </div>
</div>

<div class="col align-center px-4 py-7">
{%- include jobs-slider.html  -%}
</div>

<div class="col align-center px-4 py-7 bg-blue sp-5">
  <h3 class="font-heading text-xl q-md-text-lg text-white">{{_.team_fit_heading}}</h3>
  <a href="{{_.team_fit_url}}" class="button is-black">{{_.team_fit_button_label}}</a>
</div>

<div class="col align-center px-4 py-7">
  <div class="maxwidth-4 width-full col sp-6">
    <h2 class="font-heading text-xxl q-md-text-xl">{{page.third_headline}}</h2>
    <div class="markdown text-sm">{{page.third_paragraph | markdownify}}</div>
    <a class="button-text is-blue" href="{{page.job_posting.url}}" target="_blank">
      <div class="row sp-2">
        {% asset icons/icon-download.svg @inline %}
        <div>{{_.download_button_label}}</div>
      </div>
    </a>
  </div>
</div>

<div id="next" class="col align-center px-4 py-7 pb-8 q-lg-pt-2">
  <div class="maxwidth-4 width-full col sp-4 yok-pt-6 q-lg-pt-0">
    <h2 class="font-heading text-xxl q-md-text-xl">{{page.second_headline}}</h2>
    <div class="markdown text-sm">{{page.second_paragraph | markdownify}}</div>
  </div>
</div>

<div class="col align-center px-4 py-7 bg-blue">
  <div class="maxwidth-4 width-full align-center col sp-5">
    <h3 class="font-heading text-xl q-md-text-lg text-white text-center">{{_.apply_now_heading}}</h3>
    <div class="markdown text-sm text-white text-center">{{_.apply_now_description | markdownify}}</div>
    <a href="{{_.apply_now_url}}" class="button is-black">{{_.apply_now_button_label}}</a>
  </div>
</div>

{%- include contact.html contact=_.contact is_white=true no_button=true-%}
{%- include locations.html is_white=true with_map=true -%}
